<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand brand-name" href="#">Sample-UI</a>
        <!--<button type="button" class="btn btn-info navbar-btn pull-right" ng-click="model.showLoginPopup()">-->
            <!--Sign In-->
        <!--</button>-->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
            <div class="page-header">
                <h3 class="main-heading">What are we doing?</h3>
            </div>
            <br>
            <a href="#!/send_money" class="btn btn-primary btn-block btn-lg">
                Send Money
            </a>
            <a href="#!/transaction_history" class="btn btn-success btn-block btn-lg">
                View Transaction History
            </a>

        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-text brand-name" href="#">All Rights Reserved</a>
    </div>
</nav>