<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand brand-name" href="#">Sample-UI</a>
        <button type="button" class="btn btn-info navbar-btn pull-right">Sign In</button>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
            <div class="page-header">
                <h3 class="main-heading">Send Money</h3>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">To :</span>
                <input
                    id="email"
                    ng-model="model.email"
                    ng-change="model.validateEmail()"
                    type="text"
                    class="form-control"
                    ng-style="model.emailValidationStyle"
                    placeholder="email@paypal.com"
                    aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Amount :</span>
                <input
                    id="amount"
                    ng-model="model.amount"
                    ng-change="model.validateAmount()"
                    ng-style="model.amtValidationStyle"
                    ng-blur="model.transformCurrency(true)"
                    ng-focus="model.transformCurrency(false)"
                    type="text" class="form-control"
                    placeholder="1.0"
                    aria-describedby="basic-addon2">
                <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                <select
                    id="select_currency"
                    class="form-control"
                    ng-model="model.currencyType"
                    ng-change="model.transformCurrency(true)">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="JPY">JPY</option>
                </select>
            </div>
            <br>
            <textarea class="form-control" rows="3" placeholder="Message (Optional) ..."></textarea>
            <br>

            <div class="form-group">
                <label for="sel1">What's this payment for?</label>
                <select ng-model="model.transactionReason" ng-change="model.saveTransactionReason()" class="form-control" id="sel1">
                    <option value="1" selected>I am sending money to family or friends</option>
                    <option value="2">I am paying for goods or services</option>
                </select>
            </div>
            <br>
            <br>
            <div class="btn-group btn-group-justified">
                <a href="#!/send_money" class="btn btn-danger btn-lg text-left" id="btn-clear">
                    Clear
                </a>
                <a href="#!/send_money"
                   class="btn btn-success btn-lg text-left"
                   id="btn-next"
                   ng-disabled="!model.isEmailValid || !model.isAmountValid || !model.isReasonSelected">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-text brand-name" href="#">All Rights Reserved</a>
    </div>
</nav>